<h2>Board Form</h2>

{% if error %}
    <p>{{ error }}</p>
{% endif %}

<form method="post">
    <label for="title">TITLE</label>
    <input type="text" id="title" name="title" value="{{ title }}"/>

    <label for="content">CONTENT</label>
    <textarea id="content" name="content" rows="15">{{ content }}</textarea>

    <input type="submit" value="SAVE"/>
</form>
