<h2>Board List</h2>

<a href="{{ url_for('board_register') }}">REGISTER</a>

<form method="get">
    <input type="search" name="search" value="{{ search }}"/>
    <input type="submit" value="SEARCH"/>
</form>

<ul>
    {% for row in data %}
        <li>
            <a href="{{ url_for('board_single', { id: row.id }) }}">
                {{ row.title }}
            </a>
        </li>
    {% endfor %}
</ul>
