<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Jump To Slim</title>
    {% block style %}{% endblock %}
</head>
<body>

<div>
    <ul>
        {% if user_id %}
            <a href="{{ url_for('member_logout') }}">LOGOUT</a>
        {% else %}
            <a href="{{ url_for('member_login') }}">LOGIN</a>
        {% endif %}
    </ul>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

<script src="/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>
